.form {
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: flex-start;
}

.input {
  border-style: none;
  border-radius: .3rem;
  height: 100%;
}

.submitBtn {
  border-style: none;
  padding: .5rem;
  border-radius: .5rem;
  background-color: rgb(47, 85, 255);
  color: white;
  height: 100%;
  margin-block: 1rem;
}

.titleLabel {
  margin-right: 1rem;
  color: white;
}

.heading {}

.container {
  display: flex;
  flex-direction: column;
  height: 200px;
  padding: 1rem;
}