@import './variables.module.scss';

.container {
  position: relative;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  margin-bottom: .1rem;
}

.subheading {
  margin-top: .1rem;
  font-weight: 300;
  font-size: 1rem;
  color: $gray-500;
}