@use "sass:color";
@use "sass:math";
@import './variables.module.scss';

$block-size: 1rem;

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, $block-size);
  gap: .1rem;
  margin-top: .5rem;
}

.block {
  height: $block-size;
  animation: showBlock 4s cubic-bezier(.18, .89, .32, 1.28);
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes showBlock {
  100% {
    opacity: 100%;
  }
}

.zero {
  background-color: $grade-color-0;
}

.one {
  background-color: $grade-color-1;
}

.two {
  background-color: $grade-color-2;
}

.three {
  background-color: $grade-color-3;
}

.four {
  background-color: $grade-color-4;
}

.five {
  background-color: $grade-color-5;
}