@import './variables.module.scss';

.container {
  position: relative;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  color: $gray-400;
  font-size: 1.5rem;
  margin-bottom: .5rem;
}