@import './variables.module.scss';

.container {
  position: relative;
}

.schedule {
  list-style: none;
  background-color: bisque;
  padding-left: 0;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal {
  background-color: rgb(201, 201, 201);
  z-index: 99;
  position: fixed;
  left: 50%;
  top: 50%;
  transition: all 400ms ease-in;
  visibility: hidden;
  transform: translate(-50%, -75%);
}

.hideModal {
  composes: modal;
  opacity: 0%;
}

.showModal {
  composes: modal;
  visibility: visible;
  opacity: 100%;
  transform: translate(-50%, -50%);
}

.overlay {
  height: 100%;
  width: 100%;
  background: rgb(29, 29, 29);
  position: fixed;
  z-index: 2;
  inset: 0px;
  transition: opacity 200ms ease-in;
}

.hideOverlay {
  composes: overlay;
  pointer-events: none;
  opacity: 0%;
}

.showOverlay {
  composes: overlay;
  pointer-events: auto;
  opacity: 60%;
}