@use "sass:color";
@import './variables.module.scss';

.main {
  padding-inline: 2rem;
}

.sectionIntro {
  height: calc(100vh - 4rem); //4rem = header size
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  align-content: start;
  align-items: center;
}

.introHeading {
  font-size: 5rem;
  margin-bottom: .5rem;
}

.introSubheading {
  font-size: 1.5rem;
  font-weight: 500;
  max-width: 55ch;
}

.cta {
  display: flex;
  gap: 1rem;
}

.em {
  color: $grade-color-5;
  font-style: normal;
}

.ctaBtn {
  padding-block: .2rem;
  padding-inline: .5rem;
  border-radius: .5rem;
}

.learnMoreBtn {
  composes: ctaBtn;
  border-style: solid;
}

.learnMoreBtn:hover {
  color: color.scale($gray-900, $lightness: 40%);
  border-color: color.scale($gray-900, $lightness: 40%);
}

.tryItBtn {
  composes: ctaBtn;
  border-style: solid;
  border-color: $theme;
  background-color: $theme;
  color: white;
}

.tryItBtn:hover {
  background-color: color.scale($theme, $lightness: 40%);
  border-color: color.scale($theme, $lightness: 40%);
}

.sectionHeading {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.sectionLearnMore {
  width: 100%;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ul {
  padding-left: 1.5rem;
}

.li {
  font-size: 1.3rem;
}

.li:not(:last-child) {
  margin-block: 1rem;
}

.figure {
  background-color: $theme;
  width: fit-content;
  padding: 1rem;
  margin-inline: 0;
  margin-block: 2rem;
}

.figcaption {
  color: $gray-100;
  opacity: 60%;
}

.info {
  color: $gray-500;
  font-style: italic;
  margin-bottom: .5rem;
}

.wikiLink {
  text-decoration: underline;
  color: $gray-500;
}

.wikiLink:hover {
  color: $theme;
}

.listText {
  margin-bottom: .1rem;
  margin-top: 3rem;
}

.tutorialImage {
  margin-block: rem;
}

.sectionSolution {
  height: 100vh;
  width: 100%;
  font-size: 1.2rem;
  margin-top: 6rem;
}