.modal {
  z-index: 99;
  position: fixed;
  left: 50%;
  top: 50%;
  transition: all 400ms ease-in;
  transform: translate(-50%, -75%);
  width: fit-content;
  max-width: 100%;
}

.hideModal {
  composes: modal;
  opacity: 0%;
  pointer-events: none;
}

.showModal {
  composes: modal;
  opacity: 100%;
  transform: translate(-50%, -50%);
  pointer-events: auto;
}

.overlay {
  height: 100%;
  width: 100%;
  background: rgb(29, 29, 29);
  position: fixed;
  z-index: 2;
  inset: 0px;
  transition: opacity 200ms ease-in;
}

.hideOverlay {
  composes: overlay;
  pointer-events: none;
  opacity: 0%;
}

.showOverlay {
  composes: overlay;
  pointer-events: auto;
  opacity: 60%;
}