.nav {
  // background-color: rgb(241, 240, 240);
  // padding: .3rem;
  // display: flex;
  // justify-content: flex-end;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: .3rem;
}

.signOut {
  border-style: none;
  padding-inline: 1rem;
  padding: .5rem;
  background-color: rgb(244, 244, 244);
  border-radius: .5rem;
}

.signOut:hover {
  background-color: rgb(213, 213, 213);
  background-color: rgb(247, 51, 51);
  color: whitesmoke;
}