@import './variables.module.scss';

.scheduleCard {
  background-color: $schedule-color;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  box-shadow: 8px 10px 10px rgb(219, 219, 219);
  border-radius: .5rem;
  width: 65ch;
}

@media screen and (max-width: 600px) {
  .scheduleCard {
    width: 100%;
  }
}

.scheduleTitle {
  margin-top: 0;
}

.cardTray {
  display: flex;
  flex-direction: column;
  gap: .8rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.addItemBtn {
  background-color: $green;
  color: $gray-100;
  border-style: none;
  border-radius: .5em;
  width: 3em;
  height: 1.5em;
  margin-left: 1rem;
}

.addItemBtn:hover {
  background-color: rgb(126, 188, 34);
}