@import './variables.module.scss';

.card {
  display: grid;
  grid-template-columns: auto 1fr;
  background-color: rgb(249, 249, 249);
  background-color: $card-color;
  padding-block: 0.5rem;
  padding-inline: .8rem;
  box-shadow: 3px 4px 0px $gray-200;
  border-radius: .7rem;

  animation-name: cardAppear;
  animation-duration: 800ms;
  animation-timing-function: cubic-bezier(.18, .89, .32, 1.28); // ease-in-out backwards
  animation-fill-mode: both;
  transform: translateY(-25px);
  opacity: 0%;
}

.main {
  display: flex;
  flex-direction: column;
}

@keyframes cardAppear {
  80% {
    opacity: 100%;
  }

  100% {
    opacity: 100%;
    transform: translateY(0px);
  }
}

.topSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
}

.cardTitle {
  margin-block: .5rem;
  font-weight: 400;
  font-size: 1.5rem;
  display: inline-block;
}


.gradeToggle {
  margin-top: .5rem;
  margin-bottom: .2rem;
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-radius: .25rem;
  font-size: 1rem;
}

.gradeToggleClosed {
  composes: gradeToggle;
  background-color: transparent;
  opacity: 50%;
}

.gradeToggleClosed:hover {
  opacity: 100%;
}

.gradeToggleOpen {
  composes: gradeToggle;
  border-color: rgb(120, 120, 254);
  color: rgb(120, 120, 254)
}

.gradeToggle:active {
  border-color: rgb(0, 0, 255);
  color: rgb(0, 0, 255)
}

.hr {
  border: 0;
  height: 1px;
  width: 100%;
  background-color: rgb(219, 219, 219);
}

.info {
  list-style: none;
  padding-left: 0;
  display: flex;
  gap: 1rem;
  margin: 0;
  justify-content: flex-start;
  color: rgb(169, 169, 169);
  line-height: 1rem;
}

.infoItem {
  /* background-color: greenyellow; */
  border-radius: 1rem;
  font-size: .8rem;
  padding-block: .1rem;
}

.next {
  composes: infoItem;
  // color: #eb7e09;
  font-weight: 600;
}

.date {
  padding: .5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #f7f7f7;
  border-radius: .5rem;
  // margin-top: .5rem;
}

.day {
  margin: 0;
  margin-block: .1rem;
  font-size: 1rem;
  font-weight: 500;
}

.month {
  margin: 0;
  font-size: .8rem;
}

.dateTitle {
  font-size: .7rem;
  font-weight: 400;
  margin: 0;
  margin-bottom: 0rem;
  opacity: 40%;
}

.cardLeft {
  display: flex;
  flex-direction: column;
  // padding-block: .5rem;
  padding-right: .8rem;
  justify-content: flex-start;
}