.card {
  background-color: rgb(249, 249, 249);
  padding: .5rem;
  display: flex;
  flex-direction: column;
  animation-name: cardAppear;
  animation-duration: 800ms;
  animation-timing-function: cubic-bezier(.18, .89, .32, 1.28); // ease-in-out backwards
  animation-fill-mode: both;
  transform: translateY(-25px);
  opacity: 0%;
}

@keyframes cardAppear {
  80% {
    opacity: 100%;
  }

  100% {
    opacity: 100%;
    transform: translateY(0px);
  }
}

.topSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
}

.cardTitle {
  margin-block: .5rem;
  font-weight: 400;
  font-size: 1.5rem;
  display: inline-block;
}


.gradeToggle {
  margin-top: .5rem;
  margin-bottom: .2rem;
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-radius: .25rem;
  font-size: 1rem;
}

.gradeToggleClosed {
  composes: gradeToggle;
  background-color: transparent;
  opacity: 50%;
}

.gradeToggleClosed:hover {
  opacity: 100%;
}

.gradeToggleOpen {
  composes: gradeToggle;
  border-color: rgb(120, 120, 254);
  color: rgb(120, 120, 254)
}

.gradeToggle:active {
  border-color: rgb(0, 0, 255);
  color: rgb(0, 0, 255)
}

.hr {
  border: 0;
  height: 1px;
  width: 100%;
  background-color: rgb(219, 219, 219);
}

.info {
  list-style: none;
  padding-left: 0;
  display: flex;
  gap: .5rem;
  margin: 0;
  justify-content: flex-start;
  color: rgb(130, 130, 130);
  line-height: 1rem;
}

.infoItem {
  /* background-color: greenyellow; */
  border-radius: 1rem;
  font-size: .8rem;
  padding-inline: 0.5rem;
  padding-block: .1rem;
}

.next {
  composes: infoItem;
  color: #827300;
}