@use "sass:color";

$grade-color-base: rgb(181, 229, 255);
$grade-color-base: #c5e7ff;
$grade-color-0: color.scale($grade-color-base, $lightness: 0%);
$grade-color-1: color.scale($grade-color-base, $lightness: -10%);
$grade-color-2: color.scale($grade-color-base, $lightness: -20%);
$grade-color-3: color.scale($grade-color-base, $lightness: -30%);
$grade-color-4: color.scale($grade-color-base, $lightness: -40%);
$grade-color-5: color.scale($grade-color-base, $lightness: -50%);

$gray-100: rgb(250, 250, 250);
$gray-200: color.scale($gray-100, $lightness: -10%);
$gray-300: color.scale($gray-100, $lightness: -20%);
$gray-400: color.scale($gray-100, $lightness: -30%);
$gray-500: color.scale($gray-100, $lightness: -40%);
$gray-600: color.scale($gray-100, $lightness: -50%);
$gray-700: color.scale($gray-100, $lightness: -60%);
$gray-800: color.scale($gray-100, $lightness: -70%);
$gray-900: color.scale($gray-100, $lightness: -80%);


$theme: $grade-color-5;

$yellow-100: #ffd94d;
$orange: #f5c97a;
$red: #ff2f2f;
$green: rgb(0, 210, 0);

$bg-color: #e4e4e4;
$schedule-color: rgb(240, 240, 240);
$card-color: white;